body {
    text-align: center;
    background-color: rgb(8, 163, 163);
}

.gamemode {
    border: 0;
    width: 30vw;
    height: 30vw;
    font-size: 1.8em;
}

#gamemode-container {
    display: flex;
    justify-content: space-evenly;
}