body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
    line-height: 22px;
}

button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    width: 200px;
    height: auto;
}

#title {
    background-color: aliceblue;
    top: 0;
    height: 150px;
    padding: 0;
    margin: 0;
}

#title h1, p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 0;
    padding-top: 16px;
}

#title p {
    padding-top: 0;
}

#nav {
    width: 100%;
    height:100%;
    padding: 0;
    background-color: lightgray;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
}

#desc p {
    padding: 0;
    margin: 0;
}

.dropdown {
    border: 3px solid gray; 
    padding: 2px; 
}

.dropdown:hover {
    background-color: white;
    cursor:pointer;
}

#content {
    margin: 20px;
}

#content h2 {
    padding-top: 15px;
}

#content p {
    text-align: left;
}

.proj-desc {
    border-top: 1px solid gray;
}

#proj-container p, img {
    padding-left: 5px;
}

#mail-icon {
    position: absolute;
    top: 10px;
    left:10px;
    font-size: 2.5em;
    color: black;
}

#gh-icon {
    position: absolute;
    top: 10px;
    left:60px;
    font-size: 2.5em;
    color: black;
}