@font-face {
    font-family: Cantarell;
    src: url("../fonts/Cantarell-VF.otf");
}

body {
    margin: 0;
    background-color: white;
    font-size: .9em;
}

button {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
}

a {
    color: red;
}

a:hover {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

.menu-button {
    top: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4em;
    color: white;
    background-color: darkred;
    border: 1px solid darkred;
    border-radius: 0px;
}

.menu-button:hover {
    background-color: white;
    color: darkred;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#begin-page {
    min-height: 20vh;
    background-color: darkred;
}

#top-bar {
    position: fixed;
    display: flex;
    width: 100%;
    flex-direction: row;
    padding-bottom: 5px;
    justify-content: space-evenly;
    border-bottom: 2px outset black;
    background-color: darkred;
}

#main-page {
    line-height: 2em;
    word-spacing: 3px;
    font-family: Cantarell;
    font-size: 1.3em;
    background-color: white;
    box-shadow: 0 0 10px;
    margin-top: -10vh;
    margin-bottom: 5%;
    min-height: 100vh;
    padding-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    border-radius: 5px 5px 0 0;
}

#main-page h1, h3 {
    text-align: center;
    padding-top: 4%;
}

#main-page p {
    text-indent: 50px;
    padding-left: 2%;
    padding-top: 30px;
}

#main-page textarea {
    min-width: 100px;
}

#main-page .table-of-contents-button {
    border: 2px dotted black; 
    background-color: white; 
    font-size: 1.2em;
    transition: .25s box-shadow;
}

#games-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.about-img {
    margin-left: 50px;
}

#end-page {
    font-family: Cantarell;
    background-color: black;
    color: white;
    min-height: 20vh;
    text-align: center;
}

#end-page a {
    display: block;
    font-size: 20px;
    color: white;
    padding-top: 15px;
}

video {
    border: 5px solid black;
    margin-left: 20px;
}