html, body {
    padding: 0;
    margin: 0;
    background-color: rgb(8, 163, 163);
    font-size: 100%;
}

button {
    border: 1px solid black;
}

#b {
    padding-bottom: 5%;
}

.x-piece {
    position: relative;
    height: 10%;
    width: 10%;
    left: 20%;
    font-size: 10vw; 
    text-align: center;
    color: whitesmoke;
}

.c {
    text-align: center;
}

.o-piece {
    position: relative;
    font-size: 10vw; 
    height: 10%;
    width: 10%;
    left: 20%;
    text-align: center;
    color: whitesmoke;
}

.grid-item {
    display: inline-grid;
    border: 5px solid silver;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 12vw 12vw 12vw;
    grid-template-rows: 12vw 12vw 12vw;
    justify-content: center;
}